@CHARSET "UTF-8";

#left{
	float : left;
	width:10%;
}
#right{
	float : right;
	width:10%;
}

#table{
	background: #FFBDFF;
}

#image{
	float : left;
	width:10%;
}

#bottom{
	float : bottom;
}

#req{
	color: #FF0000;"
}